<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Vendor_Game.commands.category"
            name="Category">
      </category>
      <command
            categoryId="Vendor_Game.commands.category"
            name="Start Vendor Game"
            id="Vendor_Game.commands.startGame">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.yatta.softwarevendor.vendorgame.Main"
            commandId="Vendor_Game.commands.startGame">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Vendor_Game.commands.startGame"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Vendor_Game.menus.menu"
               label="Vendor Game"
               mnemonic="M">
            <command
                  commandId="Vendor_Game.commands.startGame"
                  id="Vendor_Game.menus.startGame"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Vendor_Game.toolbars.toolbar">
            <command
                  id="Vendor_Game.toolbars.startGame"
                  commandId="Vendor_Game.commands.startGame"
                  icon="icons/sample.png"
                  tooltip="Start Vendor Game">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
