<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.yatta.softwarevendor.demo.commands.category"
            name="Vendor Game">
      </category>
      <command
            categoryId="de.yatta.softwarevendor.demo.commands.category"
            name="Start Vendor Game"
            id="de.yatta.softwarevendor.demo.commands.vendorGame">
      </command>
      <command
            categoryId="org.eclipse.ui.category.help"
            id="de.yatta.softwarevendor.demo.commands.welcome"
            name="Getting started with Yatta Checkout">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.yatta.softwarevendor.demo.client.handlers.DemoHandler"
            commandId="de.yatta.softwarevendor.demo.commands.vendorGame">
      </handler>
      <handler
            class="de.yatta.softwarevendor.demo.client.handlers.WelcomeHandler"
            commandId="de.yatta.softwarevendor.demo.commands.welcome">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.yatta.softwarevendor.demo.commands.vendorGame"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.yatta.softwarevendor.demo.menus.vendorGame"
               label="Software Vendor"
               mnemonic="M">
            <command
                  commandId="de.yatta.softwarevendor.demo.commands.vendorGame"
                  id="de.yatta.softwarevendor.demo.menus.vendorGame"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.yatta.softwarevendor.demo.toolbars.vendorGame">
            <command
                  commandId="de.yatta.softwarevendor.demo.commands.vendorGame"
                  icon="eclipse-intruders/img/EclipseIntruders_16x16.png"
                  id="de.yatta.softwarevendor.demo.toolbars.vendorGame"
                  label="Start the demo"
                  mode="FORCE_TEXT"
                  tooltip="Start the demo">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="de.yatta.softwarevendor.demo.commands.welcome"
               id="de.yatta.softwarevendor.demo.menus.welcome">
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page class="de.yatta.softwarevendor.demo.client.ui.SoftwareVendorPreferencePage"
            id="de.yatta.softwarevendor.demo.client.ui.SoftwareVendorPreferencePage"
            name="SoftwareVendor Demo">
      </page>
      <page class="de.yatta.softwarevendor.demo.client.ui.licenses.SubscriptionLicenseDetailsPage"
            id="de.yatta.softwarevendor.demo.client.ui.licenses.SubscriptionLicenseDetailsPage"
            category="de.yatta.softwarevendor.demo.client.ui.SoftwareVendorPreferencePage"
            name="Subscription license">
      </page>
      <page class="de.yatta.softwarevendor.demo.client.ui.licenses.OneTimePurchaseLicenseDetailsPage"
            id="de.yatta.softwarevendor.demo.client.ui.licenses.OneTimePurchaseLicenseDetailsPage"
            category="de.yatta.softwarevendor.demo.client.ui.SoftwareVendorPreferencePage"
            name="One-Time Purchase license">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.yatta.softwarevendor.demo.client.ui.BrowserWrapper"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            id="de.yatta.softwarevendor.demo.editors.browserWrapper"
            name="Browser Wrapper">
      </editor>
      <editor
            class="de.yatta.softwarevendor.demo.client.ui.GameEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            id="de.yatta.softwarevendor.demo.editors.gameEditor"
            name="Game Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.yatta.softwarevendor.demo.client.handlers.WelcomePageStartup">
      </startup>
   </extension>

</plugin>
