<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Running Platform">
	<locations>
		<location path="${eclipse_home}" type="Profile"/>
		<!-- all your existing entries should stay here -->
		....
		<!-- add the following new entries -->
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://cdn.yatta.de/stage/update/marketplace"/>
         <unit id="com.yattasolutions.platform.marketplace.client.feature.feature.group" version="2.0.6.202206150751"/>
         <unit id="de.yatta.platform.browser.feature.feature.group" version="2.0.6.202206150751"/>
         <unit id="de.yatta.platform.marketplace.licensing.client.feature.feature.group" version="2.0.6.202206150751"/>
		</location>
	</locations>
</target>